body{
    font-size: 16px;
    text-align: center;
}
.container{
    font-size: 30px;
    margin: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.container .fa-heart{
    color: red;
    position: absolute;
    right: 200px;
}
.container .fa-bars{
    position: absolute;
    left: 200px;
}
.content{
    font-family: "poppins";
}
.icons{
    margin: 0 auto;
    max-width: 300px;
    font-size: 30px;
    color: grey;
    font-weight: 100;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.fa-instagram{
   flex-grow: 1;
   flex-shrink: 1;
}
.fa-dribbble{
    flex-grow: 1;   
    flex-shrink: 1;
}
.fa-linkedin{
    flex-grow: 1;
    flex-shrink: 1;
}
h1{
    font-size: 4rem;
}
p{
    font-weight: 400;
}
span{
    color: red;
}
.btn::before{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.btn{
    cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:#ffffff;
    font-size:larger;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
}     
.btn:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
    border-top-right-radius:0px;
    border-bottom-left-radius:0px; 
    background:#3498db;
    color:white;
    transform: scale(1.1);
    border-bottom:5px solid rgb(0, 0, 0); 
    border-right:5px solid rgb(0, 0, 0);
    transition: all 3s linear;
    transform: rotate(-45deg);
    transform-origin: left; 
    text-decoration: underline;
} 
.text{
    text-decoration: none;
    color: black;
    font-size: large;
    position: absolute;
    left: 750px;
    bottom: 50px;
    z-index: -1;

}
