body{
    font-size: 16px;
    text-align: center;
}
.container{
    font-size: 30px;
    margin: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}
.container .fa-heart{
    color: red;
    position: absolute;
    right: 200px;
}
.container .fa-bars{
    position: absolute;
    left: 200px;
}
.content{
    font-family: "poppins";
}
.icons{
    margin: 0 auto;
    max-width: 300px;
    font-size: 30px;
    color: grey;
    font-weight: 100;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}
.fa-instagram{
   flex-grow: 1;
   flex-shrink: 1;
}
.fa-dribbble{
    flex-grow: 1;   
    flex-shrink: 1;
}
.fa-linkedin{
    flex-grow: 1;
    flex-shrink: 1;
}
h1{
    font-size: 4rem;
}
p{
    font-weight: 400;
}
span{
    color: red;
}
.btn{
    appearance: none;
    border: 1px black solid;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 40px;
    border-radius: 0.5rem;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 50%,#3f8bfc 50%);
    background-size: 200% 200%;
    transition: 0.4s ease-out;
}
.btn:hover{
    background-position: bottom ;
    color:white;
    text-decoration: underline;
    transform: rotate(-3deg);

}